<launch>

	<arg name="config_filepath" default="$(find teleop_twist_joy_fox)/config/ps3.config.yaml"/>

	<node pkg="joy" type="joy_node" name="joy_node" output="screen"/>

	<node pkg="teleop_twist_joy_fox" type="teleop_node" name="teleop_node" output="screen">
		 <rosparam command="load" file="$(arg config_filepath)" />
	</node>

</launch> 
