<?xml version="1.0"?>
<robot>
    <link name="imu_link"/>
    <joint name="imu_joint" type="fixed">
      <parent link="base_link"/>
      <child link="imu_link"/>
      <origin xyz="0.0 0 0.068" rpy="0 0 0"/>
    </joint>
  
    <!-- Gazebo sensor plugin -->
    <gazebo reference="imu_link">>
        <sensor name="imu" type="imu">
            <always_on>true</always_on>
            <!-- Publish at 200 hz -->
            <update_rate>200</update_rate>

            <plugin name= "imu_plugin" filename= "libgazebo_ros_imu_sensor.so" >
                <body_name> imu_link </body_name>
                <frame_name> imu_link </frame_name>
                <ros>
                    <!-- Will publish to /imu/imu -->
                    <!-- <namespace>/imu</namespace> -->
                    <argument>~/out:=imu</argument>
                </ros>
                <service_name> imu_service </service_name>
                <imu>
                    <noise>
                        <type> gaussian </type>
                        <rate>
                            <mean> 0.0 </mean>
                            <stddev> 2e-4 </stddev>
                            <!-- Mean and the standard deviation of the Gaussian distribution from which bias values will be sampled. -->
                            <bias_mean> 0.0000075 </bias_mean>
                            <bias_stddev> 0.0000008 </bias_stddev>
                        </rate>
                        <accel>
                            <mean> 0.0 </mean>
                            <stddev> 1.7e-2 </stddev>
                            <bias_mean> 0.1 </bias_mean>
                            <bias_stddev> 0.001 </bias_stddev>
                        </accel>
                    </noise>
                </imu>
            </plugin>
        </sensor>
    </gazebo>
  
</robot>