<launch>

    <arg name="hardware" default="false"/>
    <arg name="joystick" default="false"/>

    <include file="$(find fox_bringup)/launch/rosserial.launch"/>

    <include file="$(find fox_ekf)/launch/message_conversion.launch"/>

    <include file="$(find fox_ekf)/launch/fox_ekf.launch"/>

    <include file="$(find fox_hardware)/launch/fox_tf.launch"/>

    <!-- if hardware is true then also launch lidar and camera -->
    <include if="$(arg hardware)" file="$(find fox_hardware)/launch/hardware.launch"/>

    <!-- if joystick is true then also launch joy and teleop_joy nodes
    include if="$(arg joystick)" file="$(find teleop_twist_joy_fox)/launch/teleop_fox.launch"/> -->

</launch> 
