<?xml version="1.0"?>
<launch>

  <!-- Arguments      -->
  <arg name="robot_name" default="fox_cart"/>
  <arg name="init_pose" default="-x 0.0 -y 0.0 -z 0.2 -R 0.0 -P 0.0 -Y 0.0"/>
  <arg name="world_name" default="$(find fox_gazebo)/worlds/arena_2018.world"/>
  <arg name="empty_world" default="false"/>

  <!-- Show in Rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find fox_bringup)/rviz/fox.rviz" required="true" output="screen"/>

  <!-- Start Gazebo   -->
  <include file="$(find fox_gazebo)/launch/gazebo.launch">
     <arg name="world_name" value="$(arg world_name)"/>
     <arg name="empty_world" value="$(arg empty_world)"/>
  </include>

  <!-- Spawn fox_bot -->
  <include file="$(find fox_gazebo)/launch/spawn_fox.launch">
    <arg name="robot_name" value="$(arg robot_name)"/>
    <arg name="init_pose" value="$(arg init_pose)"/>
  </include>

</launch>
