<launch>

    <arg name="ekf" default="true"/>
    <!-- On Master -->
    <!-- <arg name="hardware" default="false"/> -->
    <arg name="joystick" default="false"/>

    <!-- On Master  -->
    <!-- <include file="$(find fox_bringup)/launch/rosserial.launch"/> -->

    <!-- if ekf is true then also launch extended kalman filter launch file -->
    <include if="$(arg ekf)" file="$(find fox_ekf)/launch/fox_ekf.launch"/>
    
    <include file="$(find fox_ekf)/launch/message_conversion.launch"/>

    <include file="$(find fox_hardware)/launch/fox_tf.launch"/>

    <!-- On Master -->
    <!-- if hardware is true then also launch lidar and camera -->
    <!-- <include if="$(arg hardware)" file="$(find fox_hardware)/launch/hardware.launch"/> -->

    <!-- if joystick is true then also launch joy and teleop_joy nodes
    include if="$(arg joystick)" file="$(find teleop_twist_joy_fox)/launch/teleop_fox.launch"/> -->

    <param name="robot_description" command="$(find xacro)/xacro.py '$(find fox_description)/urdf/base_fox_cart.urdf.xacro'"/>

</launch> 
